doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Raleway" rel="stylesheet")
		link(rel="stylesheet", href="/public/stylesheets/style.css")
		link(rel="stylesheet", href="/public/stylesheets/fonts/stylesheet.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700")
	body
		block header
		block services
		block team
		block skills
		block portfolio
		block opinion
		block form
		block footer
	script(
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous")
	script(src="/public/js/bundle.js")