.footer-menu
	ul.footer-menu__social
		li.footer-menu__social-name
			a.footer-menu__social-href(href="#") Facebook
	ul.footer-menu__social
		li.footer-menu__social-name
			a.footer-menu__social-href(href="#") Twitter
	ul.footer-menu__social
		li.footer-menu__social-name
			a.footer-menu__social-href(href="#") Google+
	ul.footer-menu__social
		li.footer-menu__social-name
			a.footer-menu__social-href(href="#") LinkedIn
	ul.footer-menu__social
		li.footer-menu__social-name
			a.footer-menu__social-href(href="#") Behance
	ul.footer-menu__social
		li.footer-menu__social-name
			a.footer-menu__social-href(href="#") Dribbble
	ul.footer-menu__social
		li.footer-menu__social-name
			a.footer-menu__social-href(href="#") GitHub