.opinion
	.opinion__block
		.opinion__photo
			img(src="../images/human1.jpg")
		.opinion__text
			.opinion__say "Nullam dapibus bla ndit orci, viverra gravida dui lobortis egt. Maecenas fringilla urna eu nisl scelerisque.”
			.opinion__name Chanel Iman
			.opinion__sign CEO of Pinterest

	.opinion__block
		.opinion__photo
			img(src="../images/human2.jpg")
		.opinion__text
			.opinion__say “Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”
			.opinion__name ADRIANA LIMA
			.opinion__sign Founder of Instagram

	.opinion__block
		.opinion__photo
			img(src="../images/human3.jpg")
		.opinion__text
			.opinion__say "Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”
			.opinion__name ANNE HATHAWAY
			.opinion__sign Lead Designer at Behance

	.opinion__block
		.opinion__photo
			img(src="../images/human4.jpg")
		.opinion__text
			.opinion__say “Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.”
			.opinion__name EMMA STONE
			.opinion__sign Co-Founder of Shazam
