.team-people
	.team-people__block
		img.team-people__img(src="/public/images/team1.jpg" alt="ANNE HATHAWAY")
		.team-people__name ANNE HATHAWAY
		.team-people__sign CEO / Marketing Guru
		.team-people__description Lorem ipsum dolor sit amet,<br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
		.team-people__social
			img.team-people__fb(src="/public/images/Fb.png" alt="facebook")
			img.team-people__tw(src="/public/images/Twitter.png" alt="twitter")
			img.team-people__in(src="/public/images/LinkedIn.png" alt="Linked In")
			img.team-people__ml(src="/public/images/Mail.png" alt="Mail")


	.team-people__block
		img.team-people__img(src="/public/images/team2.jpg" alt="Kate Upton")
		.team-people__name Kate Upton
		.team-people__sign Creative Director
		.team-people__description Duis aute irure dolor in in<br> voluptate velit esse cillum<br> dolore fugiat nulla pariatur.<br> Excepteur sint occaecat non<br> diam proident.
		.team-people__social
			img.team-people__tw(src="/public/images/Twitter.png" alt="twitter")
			img.team-people__in(src="/public/images/LinkedIn.png" alt="Linked In")
			img.team-people__ml(src="/public/images/Mail.png" alt="Mail")


	.team-people__block
		img.team-people__img(src="/public/images/team3.jpg" alt="Olivia Wilde")
		.team-people__name Olivia Wilde
		.team-people__sign Lead Designer
		.team-people__description Nemo enim ipsam voluptas<br> sit aspernatur aut odit aut<br> fugit, sed quia consequuntur<br> magni dolores eos qui ratione<br> voluptatem nesciunt.
		.team-people__social
			img.team-people__fb(src="/public/images/Fb.png" alt="facebook")
			img.team-people__tw(src="/public/images/Twitter.png" alt="twitter")
			img.team-people__in(src="/public/images/LinkedIn.png" alt="Linked In")
			img.team-people__ml(src="/public/images/Mail.png" alt="Mail")

	.team-people__block
		img.team-people__img(src="/public/images/team4.jpg" alt="Ashley Greene")
		.team-people__name Ashley Greene
		.team-people__sign SEO / Developer
		.team-people__description Sed ut perspiciatis unde<br> omnis iste natus error sit<br> voluptatem accusantium<br> doloremque laudantium,<br> totam rem aperiam.
		.team-people__social
			img.team-people__fb(src="/public/images/Fb.png" alt="facebook")
			img.team-people__tw(src="/public/images/Twitter.png" alt="twitter")
			img.team-people__ml(src="/public/images/Mail.png" alt="Mail")
