.services
	.services_block
		img.services_image(src="/public/images/FlagIcon.png" alt="Flag icon")
		.services_heading Branding
		.services_description Lorem ipsum dolor sit amet,<br> consectetuer adipiscing elit,<br>sed diam nonummy nibh

	.services_block
		img.services_image(src="/public/images/CrayonIcon.png" alt="Crayon Icon")
		.services_heading Design
		.services_description Sed ut perspiciatis unde<br> omnis iste natus error sit<br> voluptatem  

	.services_block
		img.services_image(src="/public/images/GearsIcon.png" alt="Gears icon")
		.services_heading Development
		.services_description At vero eos et accusamus et<br> iusto odio dignissimos qui<br> blanditiis praesentium.

	.services_block
		img.services_image(src="/public/images/RocketIcon.png" alt="Rocket icon")
		.services_heading ROCKET SCIENCE
		.services_description Et harum quidem rerum est<br> et expedita distinctio. Nam<br> libero tempore.