extends blocks/base
block header
	include blocks/top-section/index
	include blocks/services/index
	include blocks/team/index
	include blocks/skills/index
	include blocks/portfolio/index
	include blocks/opinion/index
	include blocks/form/index
	include blocks/footer/index