.header
	a.header__logo(href="#")
		img.header__logo-img(src="../images/logo.png" value="logo")
	ul.header__menu
		li.header__menu-item
			a.header__menu-item-href(href="#") home
		li.header__menu-item
			a.header__menu-item-href(href="#") about
		li.header__menu-item 
			a.header__menu-item-href(href="#") work
		li.header__menu-item 
			a.header__menu-item-href(href="#") blog
		li.header__menu-item 
			a.header__menu-item-href(href="#") contact