.categories
	ul.categories__menu
		li.categories__item
			a.categories__href.tab_active.tab(href="#" data-tab="1") all
		li.categories__item
			a.categories__href.tab(href="#" data-tab="2") web
		li.categories__item
			a.categories__href.tab(href="#" data-tab="3") apps
		li.categories__item
			a.categories__href.tab(href="#" data-tab="4") icon