.categories-content.tab-content.tab-content_active(data-tab-content="1")
	.categories-content__item
		img(src="../images/1.png" alt="portfolio image")
		.categories-content__description Isometric Perspective Mock-Up
	.categories-content__item
		img(src="../images/2.png" alt="portfolio image")
		.categories-content__description Time Zone App UI
	.categories-content__item
		img(src="../images/3.png" alt="portfolio image")
		.categories-content__description Viro Media Players UI
	.categories-content__item
		img(src="../images/4.png" alt="portfolio image")
		.categories-content__description Blog / Magazine Flat UI Kit
.categories-content.tab-content(data-tab-content="2")
	.categories-content__item
		img(src="../images/1.png" alt="portfolio image")
		.categories-content__description Isometric Perspective Mock-Up
	.categories-content__item
		img(src="../images/3.png" alt="portfolio image")
		.categories-content__description Viro Media Players UI
.categories-content.tab-content(data-tab-content="3")
	.categories-content__item
		img(src="../images/2.png" alt="portfolio image")
		.categories-content__description Time Zone App UI
.categories-content.tab-content(data-tab-content="4")
	.categories-content__item
		img(src="../images/4.png" alt="portfolio image")
		.categories-content__description Blog / Magazine Flat UI Kit