.categories-content.tab-content.tab-content_active(data-tab-content="1")
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio1.jpg")
		.categories-content__description Isometric Perspective Mock-Up
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio2.jpg")
		.categories-content__description Time Zone App UI
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio3.jpg")
		.categories-content__description Viro Media Players UI
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio4.jpg")
		.categories-content__description Blog / Magazine Flat UI Kit
.categories-content.tab-content(data-tab-content="2")
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio1.jpg")
		.categories-content__description Isometric Perspective Mock-Up
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio2.jpg")
		.categories-content__description Viro Media Players UI
.categories-content.tab-content(data-tab-content="3")
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio3.jpg")
		.categories-content__description Time Zone App UI
.categories-content.tab-content(data-tab-content="4")
	.categories-content__item
		img.categories-content__border(src="../images/border.png" alt="portfolio image")
		img.categories-content__image(src="../images/portfolio4.jpg")
		.categories-content__description Blog / Magazine Flat UI Kit