.form-content
	.form-content__name
		label.form-content__label(for="name")
			span.form-content__label-text Your Name <sup>*</sup>
		input.form-content__input(type="text" name="name" id="name")
	.form-content__mail
		label.form-content__label(for="email")
			span.form-content__label-text Your Email<sup>*</sup>
		input.form-content__input(type="text" name="email" id="email")
	.form-content__message
		label.form-content__label(for="comment") 
			span.form-content__label-text Your Message<sup>*</sup>
		textarea.form-content__message-text(name="comment" id="comment")